<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5s-sot6t17k_6AvRD13MRQY9PCU4aBgU</string>
	<key>GCM_SENDER_ID</key>
	<string>771228749132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akhtahan.SecureRental</string>
	<key>PROJECT_ID</key>
	<string>rental-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-capstone.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771228749132:ios:eeb92830379be2636593e9</string>
</dict>
</plist>